*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-menu{
    background-color: transparent;
}
.navbar-nav li a{
    color: #ffffff !important;
}

.navbar-toggler{
    color: rgb(153, 153, 153) !important; /*Cor da borda antes e depois de clicar*/
    background-color: rgb(153, 153, 153) !important; /* cord do fundo antes e clicar*/
}


.navbar-toggler.collapsed{
    background-color: rgb(36, 36, 36) !important; /*cor do fundo do botao depois de clicar*/
}