body{
    background-color: rgb(32, 26, 26) !important;
    font-family: Arial, sans-serif;
}


.navbar1 {
    position: fixed;
    top: 0;
    width: 100% !important;
    height: 100px;
    background-image: url(../Image/index/Sem\ Título-3.png);
    justify-content: space-between; /* Alinha o conteúdo com espaço entre os elementos */
    color: white;
    font-family: Arial, sans-serif;
    z-index: 9999; /* CORRECAO DO BUG DA NAVBAR */ 
}
.navbar1 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1; /* Faz com que o ul ocupe todo o espaço disponível */
    justify-content: center; /* Centraliza os itens dentro do ul */
    align-items: center;
}

.navbar1 nav ul li {
    margin: 0 1em;
}

.navbar1 nav ul li.logo {
    margin-right: auto; /* Empurra os outros itens para a direita */
}

.navbar1 nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding-top: 80px; /* Adiciona espaço suficiente para a barra de navegação fixa */
}

section {
    padding: 2em;
    margin: 2em 0;
}

section h1 {
    margin-bottom: 1em;
}

section p {
    margin-bottom: 1em;
}
.bg-menu{
    background-color: transparent;
}
.navbar-nav li a{
    color: #ffffff !important;
}


span.navbar-toggler-icon{
    color: #ff0000 !important; /* não funciona*/

}
.navbar-toggler{
    color: #333 !important; /*Cor da borda antes e depois de clicar*/
    background-color: rgb(153, 153, 153) !important; /* cord do fundo antes e clicar*/
}

.navbar-toggler.collapsed{
    background-color: rgb(36, 36, 36) !important; /*cor do fundo do botao depois de clicar*/
}
.widthbutton {
    width: 100px;
}
/*--------------------------------------------------------------
# BOTAO NAVBAR
--------------------------------------------------------------*/
.btnnavbar-image {
    position: relative;
    display: inline-block;
    border: none;
    padding: 0;
    background-color: transparent !important;
  
  }
  
  .btnnavbar-image img {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
  }
  
  .btnnavbar-image .btn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  
  }