@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  background-image: url('../Image/index/imgfundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 2660px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}
p,h1,h2,h3,label{
  color: white;
}
.textb {
  color: white;
  font-family: Arial, sans-serif;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  top: -800px;
}


#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

/*--------------------------------------------------------------
# FIM HERO Section
--------------------------------------------------------------*/
