body, html {
  height: 100%;
  margin: 0;
  
}

.bg-image {
  background-image: url('../Image/index/imgfundo.png'); /* Substitua pela URL da sua imagem */
  background-size: cover;
  background-position: center;
  height: 2660px;
  display: flex;
  flex-direction: column;
}

.header, .middle, .footer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
*,p{
  font-family: Arial, sans-serif;
  color: white;
}
/*--------------------------------------------------------------
# E O BATMANSAFNAJFNSAKFMA
--------------------------------------------------------------*/
.btn-image {
  position: relative;
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent !important;
  margin: 10px;
}

.btn-image img {
  width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

.btn-image .btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/*--------------------------------------------------------------
# E O BATMANSAFNAJFNSAKFMA
--------------------------------------------------------------*/
.hero-content {
  position: relative;
  z-index: 1;
  padding: 100px 0;
  text-align: left;
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #d4af37; /* Cor dourada */
}
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.btn-custom {
  background-color: #d4af37;
  border: 2px solid #d4af37;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
}
.btn-custom:hover {
  background-color: transparent;
  color: #d4af37;
}
.platform-icons img {
  height: 30px;
  margin: 10px;
}
.overlay {
  position: relative;
  right: 500px;
  z-index: 1;
  padding: 50px;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


.linhav {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #2e0000;
}

/*--------------------------------------------------------------
# FIM HERO Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# INICIO FOOTER
--------------------------------------------------------------*/
.newsletter-section {
  background-image: url('../Image/index/img1.png'); /* Você precisa substituir isso pelo caminho real da imagem */
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  transform: translateY(200px);
  position: relative;
}
.newsletter-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Ajuste conforme necessário para a legibilidade */
}
.newsletter-content {
  position: relative;
  z-index: 1;
}
.footer {

  width: 200vh;
  transform: translateY(200px);
  padding: 20px 0;
  text-align: center;
}
.footer a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
}
.footer .footer-links a {
  display: block;
  color: #fff;
  margin: 5px 0;
}
.footer .footer-links {
  margin-bottom: 20px;
}
