body {
    /*COLOCAR "../"" PARA ACHAR AS IMAGENS*/
    background-image: url('../Image/projectcreateon/imagem\ de\ fundo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: white, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    color: white;
}
.cabecalho {
    margin-top: 30vh;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.member {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #b63333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.member img {
    width: 100%;
    border-radius: 8px;
}
.member h2 {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}
.member p {
    margin-top: 10px;
    font-size: 18px;
    color: #443a3a;
    text-align: center;
}
.table-2 {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid white;
}
table tr td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
    background-color: #272222;
}
table tr th {
    background-color: #251b1b;
    color: #e9e9e9;
    padding: 8px;
    border: 1px solid #cccccc;
 
}
tr {
    padding: 8px;
    text-align: center;
}