body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  
}

/* TEMPLATE BANNER */
.banner {
    display: flex;
    justify-content: center;
    background-image: url("../Image/sinopse/segundoparallax.jpg");
    height: 900px;
    background-size: cover;
    background-position: center;
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fff;
    padding-top: 60px;
    margin-left: -40px;
}
.banner-content a {
    text-decoration: none;
}

.banner-content h1 {
    font-size: 35px;
    color: white;
    font-family: sans-serif;
    text-align: left;
}
.banner-content p {
    font-size: 28px;
    color: white;
    font-family: sans-serif;
    text-align: left;
    
}  
/* botao contato */
.contato-btn {
    display: flex;
    justify-content: center;
    background-color: rgb(223, 34, 34);
    color: white;
    box-shadow: 5px 15px 15px black;
    text-align: center;
    font-size: 22px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}
.contato-btn:hover {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
}

@media screen and (max-width: 768px) {
    .banner-content {
        margin-top: 95px;
    }
    .banner-content h1 {
        font-size: 22;
    }
    .banner-content p {
        font-size: 18px;
    }
    .banner-content img {
        max-width: 80%;
    }
}
@media screen and (max-width: 576px) {
    .banner-content h1 {
        font-size: 22px;
    }

    .banner-content p {
        font-size: 18px;
    }
}

/* AREA DE IMGS E DESCRIÇOÊS */

.container-img {
    margin: 20px auto;
    max-width: 1200px;
    margin-top: 100px;
}
.grupo {
    display: flex;
    justify-content: center;
    box-shadow: -8px 60px 40px rgb(0, 0, 0, 0.95);
}
.imagem-com-descricao {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    border: 3px solid rgb(228, 199, 199);
    border-radius: 12px;
    padding: 10px 6px;
    background-color: black;
}
.imagem-com-descricao img {
    max-width: 420px;
    height: 320px;
    margin-bottom: 10px;
    padding: 10px 20px;
    transition: opacity 0.5 ease;
}
.imagem-com-descricao img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.descricao {
    font-size: 25px;
    color: black;
    margin-top: 15px;
    padding: 15px;
    text-shadow: 0px 1px 1px black;
    font-family: sans-serif;
    background-color: rgb(228, 199, 199);
}

@media screen and (max-width: 768px) {
    .grupo {
        flex-wrap: wrap;
        max-width: 100%;
    }
    
    .imagem-com-descricao {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .imagem-com-descricao {
        flex-basis: 100%;
    }
}

/* SINOPSE DA PAGINA */


.text-area {
    margin-top: 80px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.text-area p {
    margin-top: 50px;
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    text-decoration: dotted;

}
@media (max-width: 768px) {
    .text-area {
        font-size: 24px;
        padding: 20px;
    }

}

/* BOTAO DE COMPRA */
.button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: -50px;
 
}
.button-1 {
    background-color: rgb(223, 34, 34);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 30px;
    box-shadow:  2px 30px 30px rgb(0, 0, 0, 0.80);
}
.button-1:hover {
    background-color: white;
    color: rgb(223, 34, 34);
}
@media (max-width: 768px) {
    .button-1 {
        font-size: 20px;
        padding: 15px;
    }
}




